<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Página inicial</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" th:href="@{/css/adm.css}">
    <script src="https://kit.fontawesome.com/20918d4472.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
</head>

<body>
    <div id="path">
        <select id="dropdown" onchange="trocarPag()">
            <option value="/gerirTipos">Cadastro de Tipo</option>
            <option value="/gerirProdutos" selected>Cadastro de Produto</option>
        </select>
        <a th:href="@{/}" id="home">Home</a>
    </div>
    <div th:if="${error}"
        style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; padding: 15px; border-radius: 5px; margin-bottom: 20px; font-weight: bold; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <p th:text="${error}"></p>
    </div>

    <form id="create-update" th:action="@{${edicao} ? '/gerirProdutos/' + ${produto.idProduto} : '/gerirProdutos'}"
        method="post" th:object="${produto}" enctype="multipart/form-data">

        Nome do produto: <input type="text" th:field="*{nomeProduto}"><br>
        Descrição do produto: <input type="text" th:field="*{descricaoProduto}"><br>
        Tipo do produto:
        <select th:field="*{tipoProduto}">
            <option th:value="0" th:text="'Selecione o tipo'" disabled selected></option>
            <option th:each="tipo : ${listaTipos}" th:value="${tipo.cd_tipoproduto}" th:text="${tipo.nm_tipoproduto}"
                th:selected="${tipo.cd_tipoproduto} == ${produto.tipoProduto}">
            </option>
        </select><br>


        Imagem do produto: <input type="file" name="imagemProduto"><br>
        <input type="hidden" th:field="*{caminhoImagem}">
        <div th:if="${produto.caminhoImagem}">
            <img th:src="@{'/images/' + ${produto.caminhoImagem}}" alt="Imagem Atual" width="100" height="100">
        </div>

        <input type="submit" th:value="${edicao} ? 'Atualizar' : 'Adicionar'" name="adicionarProduto">

    </form>

    <h2>Produtos adicionados</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="center">Foto</th>
            <th class="center">Tipo</th>
            <th class="center"><i class="fa-solid fa-pen-to-square"></i></th>
            <th class="center"><i class="fa-solid fa-trash"></i></th>
        </tr>
        <tr th:each="produto : ${listaProdutos}">
            <td th:text="${produto.nm_produto}"></td>
            <td th:text="${produto.ds_produto}"></td>
            <td><img th:if="${produto.ds_caminhoImagem}" th:src="@{'/images/' + ${produto.ds_caminhoimagem}}"
                    alt="imagem do produto" width="100" height="100" />
            </td>
            <td class="center" th:text="${produto.nm_tipoproduto}">Tipo</td>
            <td class="center"><a th:href="@{'/gerirProdutos/' + ${produto.cd_produto}}">Atualizar</a></td>
            <td class="center">
                <form id="delete" th:action="@{'/deletarProduto/' + ${produto.cd_produto}}" method="post">
                    <input type="submit" value="Apagar">
                </form>
            </td>
        </tr>
    </table>
</body>

</html>