<!DOCTYPE html>
<html lang="pt-br">
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CakeDesigner - Página do Produto</title>
        <link rel="stylesheet" th:href="@{/css/paginaProduto.css}">
    
        <!-- ícones -->
        <script src="https://kit.fontawesome.com/20918d4472.js" crossorigin="anonymous"></script>
    
        </head>
<body>
    <header>
        <nav id="header-config">
            <a class="logo-config" th:href="@{/}"><img th:src="@{/images/header-img.jpg}" alt="Logo"></a>
            <div id="caminhosNav">
                <a th:href="@{/gerirProdutos}">Adm</a><span>|</span>
                <select id="dropdown" onchange="trocarPag()">
                    <option value="/">Produtos</option>
                    <option value="/bolos">Bolos</option>
                    <option value="/bolosDePote">Bolos de Pote</option>
                    <option value="/cupcakes" selected>Cupcakes</option>
                    <option value="/doces">Doces</option>
                </select>
                <a href="https://wa.me/" target="_blank" class="caminhoWhats">Peça no WhatsApp <i
                        class="fa-brands fa-whatsapp"></i></a>
                <div id="sociais">
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <img th:src="@{'/images/' + ${produto.caminhoImagem}}" alt="imagem do produto" width="100"
                    height="100">
            <div>
                <h1 th:text="${produto.nomeProduto}"></h1>
                <p th:text="${produto.descricaoProduto}"></p>
            </div>
        </div>
    </main>
    <footer>
        <nav id="footer-config">
            <a class="logo-config" th:href="@{/}"><img th:src="@{/images/header-img.jpg}" alt="Logo"></a>
            <div id="caminhosNav">
                <a th:href="@{/gerirProdutos}">Adm</a><span>|</span>                <a href="">Produtos</a>
                <a href="https://wa.me/" target="_blank" class="caminhoWhats">Peça no WhatsApp <i
                        class="fa-brands fa-whatsapp"></i></a>
                <div id="sociais">
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </nav>
    </footer>
    <!-- Scripts da pagina -->
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>