/* default 1920x1080 */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --link-color: #000;
    --background-color: #f5f0e7;
    --carousel-background: #292110;
    --header-color: #e0d6c6;
    --footer-color: #f5f2ed;
    --secondary-color: #978b75c0;
}

body {
    font-family: 'PT Sans', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--background-color);
}

a {
    color: #000;
    text-decoration: none;
}


/* Navegador e elementos do header, footer */
header, footer {
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--header-color);
    /* margin-bottom: 2rem; */

}

#header-config,
#footer-config {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
    padding: 1%;
    height: 120px;
    width: 1440px;

}

.logo-config {
    align-items: center;
    padding: 1%;
    width: 25%;
    margin-left: 5%;
}

.logo-config img {
    width: 70%;
    height: 100%;
}

#caminhosNav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 130%;
    padding: 1%;
    width: 50%;
}

#caminhosNav select {
    background-color: var(--background-color);
    color: var(--carousel-background);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

#caminhosNav select:focus {
    outline: none;
    background-color: var(--carousel-background);
    color: var(--background-color);
    border-color: var(--secondary-color);
}

#caminhosNav select option {
    background-color: var(--background-color);
    color: var(--carousel-background);
}

.caminhoWhats {
    background-color: var(--secondary-color);
    padding: 0.5% 1%;
    border-radius: 10px;
    color: #fffcf7;
}

#sociais {
    display: flex;
    justify-content: space-between;
    width: 7%;
    gap: 1rem;
    font-size: 120%;
}

/* Estilos da box do produto */
main {
    display: flex;
    justify-content: center;
    flex: 1;
    height: calc(100vh - 240px);
}

main>div {
    display: flex;

    background-color: var(--secondary-color);
    color: var(--background-color);

    margin: 5rem;  
    
    border-radius: 8px;
}

main>div div {
    padding: 1.5%;

}

main>div img {
    width: 500px;
    height: auto;
    border-radius: 8px;
    margin: 1rem;
}
main>div h1 {
    margin: 2rem auto ;
    border-radius: 8px;
}
main>div p {
font-size: 150%;
}